.hero {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero.jpg');
  
    background-color: #c4c4c4;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
}

.doind-list-head {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;

    margin-bottom: 10px;
}

.doing-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.doing-list-item {
    width: 370px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

// .doing-list-item:not(:last-child) {
//     margin-right: 30px;
// }

.doing-overlay {
    position: relative;
}

.doing-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team-head,
.doing-head {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;

    margin-bottom: 50px;
}

.team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: $title-color;
}
  
.team-list-work {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: $subtitle-color;
}

.team-list-shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.hero-main {
    text-align: center;
    padding-top: 200px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 280px;
    /* border-top: 1px solid #ececec; */
}